*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #000;
    color: #d8d8d8;
    border-bottom: 0.5px solid gray;
    width: 100%;
    flex-direction: column;
    height: 15%;
    font-size: 20px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    font-family: 'Karla';
}

.navbar a{
    text-decoration: none;
    color: #d8d8d8;
}

.navbar a.nav-logo{
    padding: 5px 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Karla';
    color: #d8d8d8;
    font-weight: bold;
}
.navbar ul{
    list-style: none;
    padding: 0 0 10px 0;
}

.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 2px 30px;
}

body{
    background-color: #000;
}

.content{
    font-family: 'Karla';
    color: #d8d8d8;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 60px;
}

p{
    margin-top: 10px;
    padding: 0 5%;
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.btns{
    margin-top: 20px;
    background: #d8d8d8;
    cursor: pointer;
    color: #191919;
    padding: 12px 20px;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
}

img{
    padding-top: 10%;
    width: 300px;
    filter: grayscale();
}

.project{
    text-decoration: none;
    color: #191919;
    padding: 8px 15px;
    background-color: #d8d8d8;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 18px;
}

@media(min-width:720px){
    .navbar{
        background-color: #000;
        color: #d8d8d8;
        border-bottom: 0.5px solid gray;
        width: 100%;
        line-height: 80px;
        height: 80px;
        font-size: 18px;
        padding: 0 30px;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Karla';
    }
    
    .navbar a{
        text-decoration: none;
        color: #d8d8d8;
    }
    
    .navbar a.nav-logo{
        float:left;
        height: inherit;
        line-height: inherit;
        padding: 0 30px;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Karla';
        color: #d8d8d8;
        font-weight: bold;
    }
    .navbar ul{
        float: right;
        list-style: none;
        height: inherit;
        line-height: inherit;
        padding: 0 50px;
    }
    
    .navbar ul li{
        display: inline-block;
    }
    
    .navbar ul li a{
        display: block;
        text-align: center;
        min-width: 120px;
        padding: 0 30px;
    }
    
    .navbar ul li a:hover{
        background-color: gray;
    }
    
    body{
        background-color: #000;
    }

    .project:hover{
        background-color: gray;
    }
    
    .content{
        font-family: 'Karla';
        color: #d8d8d8;
        margin-top: 30%;
        margin-left: 100px;
    }
    
    h1{
        font-size: 70px;
    }
    
    p{
        margin-top: 10px;
    }
    
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .btns{
        margin-top: 20px;
        background: #d8d8d8;
        cursor: pointer;
        color: #191919;
        padding: 12px 20px;
        float: left;
        border: 0;
        border-radius: 20px;
        margin-left: 10px;
    }
    
    .btns:hover{
        background: #848482;
    }
    
    img{
        margin-top: 200px;
        margin-left: 200px;
        width: 300px;
        filter: grayscale(1);
    }
    
    img:hover{
        filter: grayscale(0);
        transition: 3s;
        cursor: pointer;
    }
}